<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html,css e python</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header>
        <nav id="menu">
            <ul>
                <span class="peq">
                    <li><a href="index.html">Home</a></li>
                </span>
                <li><a href="pag-sec.html">Pag sec</a></li>
                <li><a href="#">Contato</a></li>
                <span class="peq">
                    <li><a href="#">Sobre</a></li>
                </span>
            </ul>
        </nav>
    </header>
    <main>
        <form action="../python/cod.py">
            <h1>Login</h1>
                <div class="caixa1">
                <input type="text" name="user" id="iuser" placeholder="Username">
                <i class='bx bxs-user'></i>
                </div>
            
                <div class="caixa2"><input type="password" name="pass" id="ipass" placeholder="Password">
                <i class='bx bxs-lock-alt'></i>
                </div>



            <input type="submit" value="Enviar" name="login" id="ilogin"></input>

            <p class="register">Don't have an account? <a href="cadastro/cadastro.html" class="register">Register</a></p>
        </form>
    </main>
</body>
</html>