<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html,css e python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../static/css/imagens/pesquisa.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav id="menu">
            <ul>
                <span class="peq">
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </span>
                <li><a href="{{ url_for('sucesso') }}">Sucesso</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="{{ url_for('login') }}" method="POST">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="erro" class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
               <h1>login</h1>
            <div class="caixa1">
                <label for="iuser"></label>
                <input type="text" name="usuario_login" id="iuser" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            
            <div class="caixa2">
                <label for="ipass"></label>
                <input type="password" name="senha_login" id="ipass" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
        
            <input type="submit" value="Enviar" name="login" id="ilogin">
        
            <p class="register">Não tem uma conta? <a href="{{ url_for('registrar') }}" class="register">Registrar</a></p>
        </form>
    </main>
</body>
</html>