<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
    <header>
        <nav id="menu">
            <ul>
                <span class="peq">
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </span>
                <li><a href="{{ url_for('sucesso') }}">Sucesso</a></li>
            </ul>
        </nav>
    </header>

    <form action="{{ url_for('registrar') }}" method="post" autocomplete="on">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


        <h1>Cadastro de Usuário</h1>
        <input type="text" name="usuario_login" id="inome" autocomplete="name" placeholder="Nome" required>
        <input type="password" name="senha_login" id="ipass" placeholder="Senha" required>
        <input type="password" name="confirmar_senha" id="ipass" placeholder="Confirme a senha" required>
        
        <!-- Token CSRF -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        

        <a class="login" href="{{ url_for('login') }}">Login</a>
        
        <input type="submit" value="Cadastrar" name="cadastro" id="icadastro">
    </form>
</body>
</html>
